<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">

  <title>Página Incial</title>
</head>

<body>
<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>
<div class="cabeçalho">BUSCAR</div>

<div class="LOGO"><img src="imagens/logo.png">
<div class="mensagem"><img src="imagens/msg.png"></div>
</div>

<div class="BOTAO"><a href="/noticias"><img src="imagens/botao.png"></a>
</div>


<footer>

<h4>CONTATE-NOS</h4>
lauane.santos@estudante.ifms.edu.br<br/>
(67)9 9999-9999<br/>
(67)3441-9999<br/>

2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.

</footer>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">