<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo2.css">
  
  <title>Listagem de Notícias</title>
</head>

<body>

<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>


<div class="NOT1"><img src="imagens/not1.jpg" class="foto">
<div class="LINK1">
<h2><a href="/noticias01">O Guia Financeiro está no ar, plataforma de streaming da Guide Investimentos </a></h2>
</div>
</div>
<p class="esquerda">
Investidores, de todos os níveis, já estão acessando a única plataforma de streaming que une educação com research – O Guia Financeiro.
joaomanzoni
</p>
<div class="NOT2"><img src="imagens/not2.jpg" class="foto">
<div class="LINK2">
<h2><a href="/noticias02">Elemento “escondido” em obra de arte é o último mistério do holandês Vermeer</a></h2>

<p>
Museu na Alemanha lançou o quadro "Garota lendo uma carta em uma janela aberta" drasticamente alterado; artista holandês pintou a obra entre 1657 e 1659
</p>
</div>
</div>
<div class="NOT3"><img src="imagens/not3.jpg" class="foto">
<div class="LINK3">
<h2><a href="/noticias03">Saiba como funciona o documento de carro digital e o que muda para o motorista</a></h2>
</div>
</div>
<p class="esquerda">
Desde janeiro de 2021, os veículos registrados no Brasil não possuem nenhum documento de papel. Veja o que isso altera sua vida
</p>
<div class="NOT4"><img src="imagens/not4.jpg" class="foto">
<div class="LINK4">
<h2><a href="/noticias04">O lago que contém a mais antiga forma de vida na Terra, de 3 bilhões de anos</a></h2>

<p>A beleza do lago Bacalar, de acordo com Claudio Del Valle, vai além dos sete tons brilhantes de azul, que variam do turquesa vivo ao cobalto profundo, da lagoa mexicana.
</p>
</div>
</div>
<div class="BOTAO2"><a href="/"><img src="imagens/botao2.png"></a>
</div>

<footer>

<h4>CONTATE-NOS</h4>
lauane.santos@estudante.ifms.edu.br<br/>
(67)9 9999-9999<br/>
(67)3441-9999<br/>

2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.

</footer>

</body>

</html>